# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: dev_secret # Generate a new one with bin/rake secret

test:
  secret_key_base: test_secret # Generate a new one with bin/rake secret

production:
  secret_key_base: prod_secret # Generate a new one, or use the environment: <%= ENV["SECRET_KEY_BASE"] %>
  
