<h1>Edit User Account</h1>
      <table>
      <tr>
      <th>Name</th><th>Email</th><th>Edit</th>
      </tr>
<% @users.each do |user| %>
    <tr>
        <td><%= user[:name] %></td>
        <td><%= user[:email] %></td>
        <td><%= link_to "Edit", "/profile/#{user[:id]}" %></td>
    </tr>
<% end %>
</table>


  








