

  <h1>Login</h1> 
     <%= form_tag do %>
      <p><label>Email:</label><br>
        <%= text_field_tag 'email', '', size: "50" %>

      <p><label>Password:</label><br>
      <%= password_field_tag 'password', '', size: "50" %>
      <br>
      <input type="submit" value="Submit">
       </fieldset>
    <% end %>

   



