

  <h1>Enter Validation Code</h1> 
     <%= form_tag do %>
      <p><label>Validation Code:</label><br>
      <input type="text" id="validation_code" name="validation_code" size="50" required></p>
      <input type="submit" value="Submit">
    <% end %>

 
