<div class="row">
	<p>
		<strong>Email:</strong> <%= @user[:email] %><br>
		<strong>Secret:</strong> <%= @user[:secret_key] %><br>
		<strong>Public key:</strong> <%= @user[:public_key] %>
	</p>
</div>