// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "animate";

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
footer {
    margin: 50px 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#blueh4{
   color: #337AB7;
}

#pem_certificate {
    font-family: monospace;
}